.header {
    &__wrapper {
        width: 100%;
        height: 70px;
        padding: 0 10px;
        box-sizing: border-box;
    }
    &__inner {
        display: flex;
        align-items: center;
        box-sizing: border-box;
    }
    &__nav,
    &__login {
        display: none;
    }
}

.burger {
    width: 24px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__line {
        width: 24px;
        height: 2px;
        background: #22252E;
        border-radius: 3px;
    }
}

.logo {
    margin-left: 12px;
    display: flex;
    &__img {
        width: 168px;
        height: 100%;
    }
}

.start {
    width: 126px;
    height: 40px;
    margin-left: auto;
    background-color: #4CB649;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include font(Roboto, normal, 500, 14px, 18px, #ffffff);
    text-decoration: none;
    text-transform: uppercase;
}

@media all and (min-width: 1200px) {
    .header {
        &__wrapper {
            height: 100px;
            padding: 0 60px;
            display: flex;
            justify-content: space-between;
        }
        &__inner:nth-child(2) {
            justify-content: center;
        }
        &__nav {
            display: block;
        }
    }
    .nav {
        &__list {
            display: flex;
            align-items: center;
        }
        &__item {
            margin-right: 30px;
            padding: 2px 0;
            border-bottom: 2px solid transparent;
            transition: .2s all;
            box-sizing: border-box;
        }
        &__item:last-of-type {
            margin-right: 0;
        }
        &__item:hover {
            border-bottom: 2px solid #4CB649;
        }
        &__link {
            display: flex;
            @include font(Roboto, normal, 500, 14px, 18px, #323642);
            text-transform: uppercase;
            text-decoration: none;
        }
        &__link>img {
            width: 10px;
            height: 5px;
            margin-left: 10px;
        }
    }
    .burger {
        display: none;
    }
    .logo {
        margin-left: 0;
        &__img {
            width: 260px;
        }
    }
    .login,
    .start {
        width: 160px;
        height: 40px;
        margin-left: auto;
        background-color: #fff;
        border: 1px solid #4CB649;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include font(Roboto, normal, 500, 14px, 18px, #4CB649);
        text-decoration: none;
        text-transform: uppercase;
        box-sizing: border-box;
        transition: .2s all;
    }
    .login {
        width: 90px;
        margin-right: 10px;
    }
    .login:hover,
    .start:hover {
        background-color: #4CB649;
        color: #fff;
    }
}