.main {
    &__wrapper {
        width: 100%;
        height: 100%;
        margin-top: 30px;
        padding: 0 20px;
        box-sizing: border-box;
    }
    &__inner {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
}

.post {
    &__content {
        display: flex;
        flex-direction: column;
    }
    &__img {
        display: flex;
    }
    &__img>img {
        width: 315px;
    }
    &--featured {
        border: 1px solid #D7D8D9;
        border-radius: 3px;
    }
    &--featured>&__content>&__img>img {
        width: 335px;
    }
    &__line {
        margin-top: 5px;
        margin-bottom: 19px;
        border: 1px solid #EBECED;
    }
}

.description {
    margin: 21px 0 10px 0;
    &--featured {
        margin-top: 32px;
        padding: 0 30px;
    }
    &__text {
        display: flex;
        @include font(Roboto, normal, 300, 24px, 34px, #22252E);
        text-decoration: none;
    }
    &__auth {
        margin-top: 18px;
        display: flex;
        align-items: center;
        &--featured {
            margin-top: 14px;
            letter-spacing: -0.2px;
        }
    }
    &__name,
    &__date {
        @include font(Roboto, normal, 400, 14px, 22px, #323642);
    }
    &__name {
        text-decoration: none;
    }
    &__date {
        margin-left: 10px;
        color: #889099;
    }
}

.post-tags {
    margin-top: 10px;
    &__list {
        padding-top: 8px;
        display: flex;
        flex-wrap: wrap;
        &--featured {
            padding: 0;
        }
    }
    &__item {
        margin-right: 7px;
    }
    &__link {
        @include font(Roboto, normal, 400, 12px, 16px, #4CB649);
        text-transform: uppercase;
        text-decoration: none;
    }
}

.comments {
    margin-top: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    &__img {
        width: 16px;
        height: 16px;
    }
    &__qnt {
        margin-left: 10px;
        @include font(Roboto, normal, 400, 14px, 22px, #889099);
    }
}

.tag {
    display: none;
}

@media all and (min-width: 1200px) {
    .main {
        &__wrapper {
            margin-top: 10px;
            padding: 0;
        }
    }
    .post {
        width: 740px;
        &__content {
            flex-direction: row;
        }
        &__img>img {
            width: 280px;
            height: 180px;
        }
        &--featured {
            width: 100%;
            border-radius: 6px;
            box-sizing: border-box;
        }
        &--featured>&__content>&__img>img {
            width: 600px;
            height: 398px;
        }
        &__line {
            margin: 53px 0 30px;
        }
    }
    .description {
        margin: 0 0 0 40px;
        &--featured {
            margin: 60px 0 30px 0;
            padding: 0 60px;
        }
        &__auth {
            margin-top: 5px;
            &--featured {
                margin-top: 85px;
            }
        }
    }
    .post-tags {
        margin-top: 0;
    }
    .comments {
        margin-top: 10px;
    }
    .tag {
        width: 100%;
        height: 60px;
        margin-top: 30px;
        padding: 0 33px;
        display: block;
        background-color: #F7F7F7;
        border-radius: 4px;
        box-sizing: border-box;
        &__list {
            width: 100%;
            height: 100%;
            padding-top: 10px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
        }
        &__item:nth-child(1) {
            margin-right: 47px;
            @include font(Roboto, normal, 500, 14px, 18px, #323642);
        }
        &__item:nth-child(2) {
            margin-right: 42px;
        }
        &__item:nth-child(3) {
            margin-right: 40px;
        }
        &__item:nth-child(4) {
            margin-right: 39px;
        }
        &__item:nth-child(5) {
            margin-right: 39px;
        }
        &__item:nth-child(6) {
            margin-right: 39px;
        }
        &__item:nth-child(7) {
            margin-right: 45px;
        }
        &__item:nth-child(8) {
            margin-right: 237px;
        }
        &__item:nth-child(9) {
            margin-right: 40px;
        }
        &__link {
            display: flex;
            @include font(Roboto, normal, 500, 14px, 18px, #323642);
            text-decoration: none;
            text-transform: uppercase;
            &--green {
                color: #4CB649;
            }
        }
    }
}