.posts {
    &__wrapper {
        width: 100%;
        height: 100%;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }
    &__title {
        margin-left: 30px;
        @include font(Roboto, normal, 300, 32px, 44px, #22252E);
    }
    &__inner {
        width: 100%;
        height: 100%;
        margin-top: 40px;
        padding: 0 30px;
        box-sizing: border-box;
        &--search {
            margin: 0 0 40px 0;
            padding: 0 20px;
            order: -1;
        }
        &--ext_info {
            margin-top: 0;
            padding: 0 20px;
        }
    }
    &__link_more {
        width: 315px;
        height: 40px;
        margin-top: 40px;
        border: 1px solid #4CB649;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include font(Roboto, normal, 500, 14px, 18px, #4CB649);
        text-transform: uppercase;
        text-decoration: none;
    }
}

.search {
    &__input {
        width: 335px;
        height: 60px;
        padding-left: 60px;
        padding-right: 20px;
        background: url('../assets/img/icons/search.svg') no-repeat 20px;
        border: 1px solid #D7D8D9;
        border-radius: 3px;
        @include font(Roboto,
        normal,
        300,
        18px,
        28px,
        #22252E);
        outline: none;
        box-sizing: border-box;
    }
    &__input::placeholder {
        color: #22252E;
    }
}

.ext_info {
    display: flex;
    flex-direction: column;
    &__inner {
        margin-top: 30px;
        padding: 0 10px;
    }
    &__inner:last-child {
        padding: 0;
    }
    &__title>h3 {
        margin-left: 20px;
        @include font(Roboto,
        normal,
        300,
        24px,
        34px,
        #22252E);
    }
    &__title {
        margin-top: 30px;
        display: flex;
        align-items: center;
        &--cloud>h3 {
            margin-bottom: 15px;
            margin-left: 10px;
        }
    }
    &__list {
        margin-left: 10px;
    }
    &__item {
        margin: 20px 0;
        @include font(Roboto,
        normal,
        400,
        14px,
        22px,
        #323642);
    }
    &__item:last-child {
        margin-bottom: 30px;
    }
    &__item::before {
        width: 5px;
        height: 5px;
        margin-right: 5px;
        margin-bottom: 2px;
        background-color: #4CB649;
        border-radius: 50%;
        content: "";
        display: inline-block;
    }
    &__line {
        border: 1px solid #EBECED;
    }
}

@media all and (min-width: 1200px) {
    .posts {
        &__wrapper {
            flex-direction: row;
        }
        &__title {
            margin-bottom: 40px;
            margin-left: 0;
        }
        &__inner {
            margin-top: 0;
            padding: 0;
            &--articles {
                width: 800px;
                border-right: 1px solid #EBECED;
                box-sizing: border-box;
            }
            &--search {
                margin: 0 0 40px 0;
                padding: 0 20px;
                order: -1;
            }
            &--ext_info {
                margin-top: 0;
                padding: 0;
            }
        }
        &__link_more {
            width: 260px;
            margin: 0 auto;
        }
    }
    .search {
        display: none;
        &__input {
            width: 335px;
            height: 60px;
            padding-left: 60px;
            padding-right: 20px;
            background: url('../assets/img/icons/search.svg') no-repeat 20px;
            border: 1px solid #D7D8D9;
            border-radius: 3px;
            @include font(Roboto,
            normal,
            300,
            18px,
            28px,
            #22252E);
            outline: none;
            box-sizing: border-box;
        }
        &__input::placeholder {
            color: #22252E;
        }
    }
    .ext_info {
        width: 400px;
        align-items: flex-end;
        box-sizing: border-box;
        &__inner {
            width: 340px;
            margin-top: 30px;
            padding: 0;
        }
        &__img {
            width: 100%;
            &--cloud {
                margin-left: -10px;
            }
        }
        &__title {
            &--cloud>h3 {
                margin-left: 0;
            }
        }
    }
}