.footer {
    &__wrapper {
        width: 100%;
        height: 100%;
        margin-top: 46px;
        padding: 0 20px;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
    }
    &__logo {
        margin-left: 0;
        margin-bottom: 45px;
    }
    &__logo>img {
        width: 238px;
    }
    &__inner:nth-child(3),
    &__inner:nth-child(5) {
        margin-left: 20px;
    }
    &__par {
        margin-bottom: 15px;
        @include font(Roboto, normal, 500, 14px, 18px, #323642);
        text-align: left;
        text-transform: uppercase;
    }
    &__item {
        margin-bottom: 15px;
    }
    &__link {
        @include font(Roboto, normal, 400, 14px, 22px, #889099);
        text-decoration: none;
    }
}